aiohttp==1.0.5
aioredis==1.0.0
async-timeout==2.0.0
chardet==3.0.4
cycler==0.10.0
discord.py==0.16.12
hiredis==0.2.0
matplotlib==2.1.2
multidict==4.1.0
numpy==1.14.0
Pillow==6.2.0
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2017.3
PyYAML==3.12
six==1.11.0
websockets==3.4
